<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Aggrogator Accounts</title>
    <link rel="stylesheet" href="/css/aggrogator.css" type="text/css" />
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript" src="/js/builder.js"></script>
    <script type="text/javascript" src="/js/effects.js"></script>
    <script type="text/javascript" src="/js/aggrogator.js"></script>
  </head>
  <body>

    <img id="spinner" alt="spinner" src="/gfx/spinner.gif" style="display: none; position: fixed;" />

    <div id="logout">
      {{ account.user.nickname }}
      <a href="{{ logout_url }}">Logout</a>
    </div>

    <div class="clearboth"></div>

    <ol>
      {% for acc in all_accounts %}
        <li>
          <a href="" onclick="subscribe('{{ acc.user.email }}'); return false;">{{ acc.user.email }}</a>
        </li>
      {% endfor %}
    </ol>

  </body>
</html>
