* text=auto !eol
Carbon-14[!!-~]Android/.classpath -text
Carbon-14[!!-~]Android/.project -text
Carbon-14[!!-~]Android/.settings/org.eclipse.jdt.ui.prefs -text
Carbon-14[!!-~]Android/.settings/org.eclipse.ltk.core.refactoring.prefs -text
Carbon-14[!!-~]Android/AndroidManifest.xml -text
Carbon-14[!!-~]Android/COPYING -text
Carbon-14[!!-~]Android/assets/html/about1d.html -text
Carbon-14[!!-~]Android/assets/html/about2d.html -text
Carbon-14[!!-~]Android/assets/html/index.html -text
Carbon-14[!!-~]Android/assets/html/scanning.html -text
Carbon-14[!!-~]Android/assets/html/sharing.html -text
Carbon-14[!!-~]Android/assets/html/style.css -text
Carbon-14[!!-~]Android/assets/html/whatsnew.html -text
Carbon-14[!!-~]Android/assets/images/big-1d.png -text
Carbon-14[!!-~]Android/assets/images/big-qr.png -text
Carbon-14[!!-~]Android/assets/images/contact-results-screen.jpg -text
Carbon-14[!!-~]Android/assets/images/demo-no.png -text
Carbon-14[!!-~]Android/assets/images/demo-yes.png -text
Carbon-14[!!-~]Android/assets/images/scan-example.png -text
Carbon-14[!!-~]Android/assets/images/scan-from-phone.png -text
Carbon-14[!!-~]Android/assets/images/search-book-contents.jpg -text
Carbon-14[!!-~]Android/default.properties -text
Carbon-14[!!-~]Android/res/drawable/fanta.png -text
Carbon-14[!!-~]Android/res/drawable/icon.png -text
Carbon-14[!!-~]Android/res/drawable/launcher_icon.png -text
Carbon-14[!!-~]Android/res/drawable/share_menu_item.png -text
Carbon-14[!!-~]Android/res/drawable/share_via_barcode.png -text
Carbon-14[!!-~]Android/res/drawable/sprite.png -text
Carbon-14[!!-~]Android/res/drawable/zxing_icon.png -text
Carbon-14[!!-~]Android/res/layout-land/encode.xml -text
Carbon-14[!!-~]Android/res/layout/details.xml -text
Carbon-14[!!-~]Android/res/layout/encode.xml -text
Carbon-14[!!-~]Android/res/layout/help.xml -text
Carbon-14[!!-~]Android/res/layout/input_dialog.xml -text
Carbon-14[!!-~]Android/res/layout/main.xml -text
Carbon-14[!!-~]Android/res/menu/main_menu.xml -text
Carbon-14[!!-~]Android/res/raw/beep.ogg -text
Carbon-14[!!-~]Android/res/values/arrays.xml -text
Carbon-14[!!-~]Android/res/values/attrs.xml -text
Carbon-14[!!-~]Android/res/values/colors.xml -text
Carbon-14[!!-~]Android/res/values/ids.xml -text
Carbon-14[!!-~]Android/res/values/strings.xml -text
Carbon-14[!!-~]Android/res/xml/preferences.xml -text
Carbon-14[!!-~]Android/src/net/carbon14/android/CameraManager.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/CaptureActivityHandler.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/Contents.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/DecodeThread.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/DetailsActivity.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/EncodeActivity.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/HelpActivity.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/Intents.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/LocaleManager.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/MainActivity.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/ManualInputActivity.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/PreferencesActivity.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/Provider.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/ProviderManager.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/QRCodeEncoder.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/ViewfinderView.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/YUVMonochromeBitmapSource.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/result/AndroidIntentParsedResult.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/result/BarcodeResultHandler.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/result/ResultButtonListener.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/result/ResultHandler.java -text
Carbon-14[!!-~]Android/src/net/carbon14/android/result/ResultHandlerFactory.java -text
GAE/.project -text
GAE/.pydevproject -text
GAE/data/providers.csv -text
GAE/src/app.yaml -text
GAE/src/appengine_admin/__init__.py -text
GAE/src/appengine_admin/admin_forms.py -text
GAE/src/appengine_admin/admin_settings.py -text
GAE/src/appengine_admin/admin_widgets.py -text
GAE/src/appengine_admin/authorized.py -text
GAE/src/appengine_admin/db_extensions.py -text
GAE/src/appengine_admin/encoding.py -text
GAE/src/appengine_admin/media/images/default-bg.gif -text
GAE/src/appengine_admin/media/images/icon_calendar.gif -text
GAE/src/appengine_admin/media/images/icon_clock.gif -text
GAE/src/appengine_admin/media/images/nav-bg.gif -text
GAE/src/appengine_admin/media/images/sidebar-li.png -text
GAE/src/appengine_admin/media/js/DateTimeShortcuts.js -text
GAE/src/appengine_admin/media/js/calendar.js -text
GAE/src/appengine_admin/media/js/core.js -text
GAE/src/appengine_admin/media/style.css -text
GAE/src/appengine_admin/model_register.py -text
GAE/src/appengine_admin/templates/404.html -text
GAE/src/appengine_admin/templates/500.html -text
GAE/src/appengine_admin/templates/admin_base.html -text
GAE/src/appengine_admin/templates/index.html -text
GAE/src/appengine_admin/templates/model_item_edit.html -text
GAE/src/appengine_admin/templates/model_item_list.html -text
GAE/src/appengine_admin/utils.py -text
GAE/src/appengine_admin/views.py -text
GAE/src/index.yaml -text
GAE/src/main.html -text
GAE/src/main.py -text
GAE/src/services/__init__.py -text
GAE/src/services/environment/404.html -text
GAE/src/services/environment/__init__.py -text
GAE/src/services/environment/details.html -text
GAE/src/services/environment/provider.py -text
GAE/src/services/environment/static/css/style.css -text
GAE/src/services/environment/widget.html -text
GAE/src/services/providers.py -text
GAE/src/services/providers.xml -text
GAE/src/services/rating/404.html -text
GAE/src/services/rating/__init__.py -text
GAE/src/services/rating/details.html -text
GAE/src/services/rating/provider.py -text
GAE/src/services/rating/static/css/style.css -text
GAE/src/services/rating/static/images/star.png -text
GAE/src/services/rating/widget.html -text
GAE/src/services/upc/404.html -text
GAE/src/services/upc/__init__.py -text
GAE/src/services/upc/details.html -text
GAE/src/services/upc/provider.py -text
GAE/src/services/upc/static/css/style.css -text
GAE/src/services/upc/widget.html -text
