* text=auto !eol
Android/.classpath -text
Android/.project -text
Android/.settings/org.eclipse.ltk.core.refactoring.prefs -text
Android/AndroidManifest.xml -text
Android/assets/html/about1d.html -text
Android/assets/html/about2d.html -text
Android/assets/html/index.html -text
Android/assets/html/scanning.html -text
Android/assets/html/sharing.html -text
Android/assets/html/style.css -text
Android/assets/html/whatsnew.html -text
Android/assets/images/big-1d.png -text
Android/assets/images/big-qr.png -text
Android/assets/images/contact-results-screen.jpg -text
Android/assets/images/demo-no.png -text
Android/assets/images/demo-yes.png -text
Android/assets/images/scan-example.png -text
Android/assets/images/scan-from-phone.png -text
Android/assets/images/search-book-contents.jpg -text
Android/res/drawable/icon.png -text
Android/res/drawable/launcher_icon.png -text
Android/res/drawable/share_menu_item.png -text
Android/res/drawable/share_via_barcode.png -text
Android/res/drawable/zxing_icon.png -text
Android/res/layout-land/encode.xml -text
Android/res/layout-land/share.xml -text
Android/res/layout/bookmark_picker_list_item.xml -text
Android/res/layout/capture.xml -text
Android/res/layout/encode.xml -text
Android/res/layout/help.xml -text
Android/res/layout/main.xml -text
Android/res/layout/product.xml -text
Android/res/layout/profile.xml -text
Android/res/layout/search_book_contents.xml -text
Android/res/layout/search_book_contents_header.xml -text
Android/res/layout/search_book_contents_list_item.xml -text
Android/res/layout/share.xml -text
Android/res/menu/main_menu.xml -text
Android/res/raw/beep.ogg -text
Android/res/values/attrs.xml -text
Android/res/values/colors.xml -text
Android/res/values/ids.xml -text
Android/res/values/strings.xml -text
Android/res/xml/preferences.xml -text
Android/src/com/google/zxing/client/android/AndroidHttpClient.java -text
Android/src/com/google/zxing/client/android/BookmarkPickerActivity.java -text
Android/src/com/google/zxing/client/android/CameraManager.java -text
Android/src/com/google/zxing/client/android/CaptureActivity.java -text
Android/src/com/google/zxing/client/android/CaptureActivityHandler.java -text
Android/src/com/google/zxing/client/android/Contents.java -text
Android/src/com/google/zxing/client/android/DecodeThread.java -text
Android/src/com/google/zxing/client/android/EncodeActivity.java -text
Android/src/com/google/zxing/client/android/HelpActivity.java -text
Android/src/com/google/zxing/client/android/Intents.java -text
Android/src/com/google/zxing/client/android/LocaleManager.java -text
Android/src/com/google/zxing/client/android/PreferencesActivity.java -text
Android/src/com/google/zxing/client/android/QRCodeEncoder.java -text
Android/src/com/google/zxing/client/android/R.java -text
Android/src/com/google/zxing/client/android/SearchBookContentsActivity.java -text
Android/src/com/google/zxing/client/android/SearchBookContentsAdapter.java -text
Android/src/com/google/zxing/client/android/SearchBookContentsListItem.java -text
Android/src/com/google/zxing/client/android/SearchBookContentsResult.java -text
Android/src/com/google/zxing/client/android/ShareActivity.java -text
Android/src/com/google/zxing/client/android/ViewfinderView.java -text
Android/src/com/google/zxing/client/android/YUVMonochromeBitmapSource.java -text
Android/src/com/google/zxing/client/android/result/AddressBookResultHandler.java -text
Android/src/com/google/zxing/client/android/result/AndroidIntentParsedResult.java -text
Android/src/com/google/zxing/client/android/result/CalendarResultHandler.java -text
Android/src/com/google/zxing/client/android/result/EmailAddressResultHandler.java -text
Android/src/com/google/zxing/client/android/result/GeoResultHandler.java -text
Android/src/com/google/zxing/client/android/result/ISBNResultHandler.java -text
Android/src/com/google/zxing/client/android/result/ProductResultHandler.java -text
Android/src/com/google/zxing/client/android/result/ResultButtonListener.java -text
Android/src/com/google/zxing/client/android/result/ResultHandler.java -text
Android/src/com/google/zxing/client/android/result/ResultHandlerFactory.java -text
Android/src/com/google/zxing/client/android/result/SMSResultHandler.java -text
Android/src/com/google/zxing/client/android/result/TelResultHandler.java -text
Android/src/com/google/zxing/client/android/result/TextResultHandler.java -text
Android/src/com/google/zxing/client/android/result/URIResultHandler.java -text
Android/src/net/carbon14/MainActivity.java -text
Android/src/net/carbon14/ProductActivity.java -text
Android/src/net/carbon14/ProfileActivity.java -text
GAE/.project -text
GAE/.pydevproject -text
GAE/src/DataModel/Order.py -text
GAE/src/DataModel/Producer.py -text
GAE/src/DataModel/Product.py -text
GAE/src/DataModel/ProductCategory.py -text
GAE/src/DataModel/UserAccount.py -text
GAE/src/DataModel/__init__.py -text
GAE/src/app.yaml -text
GAE/src/index.yaml -text
GAE/src/main.py -text
GAE/src/templates/index.html -text
