* text=auto !eol
Android/.classpath -text
Android/.project -text
Android/AndroidManifest.xml -text
Android/res/drawable/icon.png -text
Android/res/layout/main.xml -text
Android/res/values/strings.xml -text
Android/src/net/carbon14/MainActivity.java -text
