.widget {
	color: white;
	background-color: black;
	font-size: small;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	border: 1px;
	padding: 2px;
}

.details {
	color: white;
	background-color: black;
	font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.caption {
	font-weight: bold;
	background-color: #313131;
	padding: 2px;
}

.content {
	background-color: black;
	width: 100%;
	padding: 2px;
}

#data {
}
