<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>APriori</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	</head>
	<body class="details">
		<table id="data">
			<tr>
				<td class="caption">Product&nbsp;ID</td>
				<td class="content">{{ productId }}</td>
			</tr>
			<tr>
				<td class="caption">Name</td>
				<td class="content">{{ productName }}</td>
			</tr>
			<tr>
				<td class="caption">Overall&nbsp;Score</td>
				<td class="content">{{ productOverallScore }}</td>
			</tr>
			<tr>
				<td class="caption">Number&nbsp;Of&nbsp;Ratings</td>
				<td class="content">{{ totalNoOfRatings }}</td>
			</tr>
			<tr>
				<td class="caption">Own&nbsp;Score</td>
				<td class="content">{{ ownScore }}</td>
			</tr>
			<tr>
				<td class="caption">Rating</td>
				<td class="content">
					{% for i in rating %}
					<img src="static/images/star.png" alt="Rating star" />
					{% endfor %}
					{% if showHalfStar %}
					<img src="static/images/half-star.png" alt="Rating half-star" />
					{% endif %}
				</td>
			</tr>
		</table>
	</body>
</html>
