<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>Carbon</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="static/css/style.css" type="text/css" />
		<script type="text/javascript" src="static/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.idTabs.min.js"></script>
	</head>
	<body class="details">
		
		<div id="usual" class="usual">
			
			<ul class="idTabs"> 
				<li><a href="#tab_general" class="selected">General</a></li> 
				<li><a href="#tab_advanced">Advanced</a></li>
			</ul>
			
			<div id="tab_general" style="display: block;">			
				<table class="details">
					<tr>
						<th class="caption">Product</th>
						<td class="content">{{ product.name }}</td>
					</tr>
					<tr>
						<th class="caption">Producer</th>
						<td class="content">{{ product.producer.name }}</td>
					</tr>
					<tr>
						<th class="caption">Unit&nbsp;Size</th>
						<td class="content">{{ product.unitSize|floatformat }} {{ product.category.unit }}</td>
					</tr>
					<tr>
						<th class="caption">Carbon Footprint</th>
						<td class="content">{{ footprint|floatformat }} g CO<sub>2</sub>eq</td>
					</tr>
					<tr>
						<th class="caption">Normalized Footprint</th>
						<td class="content">
							<img src="http://chart.apis.google.com/chart?
							chs=100x50
							&amp;chf=bg,s,EFEFEF00
							&amp;chd=t:{{ product.carbonFootprint }}
							&amp;chds={{ product.category.minCarbonFootprint }},{{ product.category.maxCarbonFootprint }}
							&amp;cht=gom" 
							alt="Carbon Benchmark" />
							<br />
							{{ product.carbonFootprint|floatformat }} g CO<sub>2</sub>/{{ product.category.unit }}
						</td>
					</tr>
					<tr>
						<th class="caption">Best Product</th>
						<td class="content"><a class="button" href="/services/carbon/details?barcode={{ bestProduct.code }}"><span>{{ bestProduct.name }}</span></a></td>
					</tr>
				</table>			
			</div>
			
			
			<div id="tab_advanced" style="display: none;">			
				<table class="details">
					<tr>
						<th class="caption">Code</th>
						<td class="content">{{ product.code }}</td>
					</tr>
					
					<tr>
						<th class="caption">Category</th>
						<td class="content">{{ product.category.name }}</td>
					</tr>
					
					<tr>
						<th class="caption">Description</th>
						<td class="content">{{ product.description }}</td>
					</tr>
					
					{% if product.category.tips %}
					<tr>
						<th class="caption">Category Tips</th>
					
						<td class="content">{{ product.category.tips }}</td>
					</tr>
					{% endif %}
					
					{% if product.tips %}
					<tr>
						<th class="caption">Product Tips</th>
				
						<td class="content">{{ product.tips }}</td>
					</tr>
					{% endif %}
				</table>			
			</div>
			
		</div>
 
		<script type="text/javascript"> 
		  $("#usual ul").idTabs(); 
		</script>
		
		<div class="centered">
			<a class="button" href="{{ url }}"><span>Add&nbsp;to&nbsp;Profile</span></a>
		</div>
		
	</body>
</html>
