.widget {
	color: white;
	background-color: black;
	font-size: small;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

.details {
	color: white;
	background-color: black;
	font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.caption {
	font-weight: bold;
	background-color: #3e3e3e;
}

.content {
	background-color: #2d2d2d;
	width: 100%;
}

#data {
}